{% extends "base.html" %}
{% load static %}
{% block content %}
<script>
    window.API_CORREO_URL = "{% url 'enviar_correo_usuario' %}";
    window.CSRF_TOKEN = "{{ csrf_token }}";
</script>


<!-- ---------------CARRUSEL---------------- -->
<div class="container">
    <div class="centro">
        <div id="demo" class="carousel slide" data-bs-ride="carousel">
            <!-- punteros -->
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
                <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
                <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
                <button type="button" data-bs-target="#demo" data-bs-slide-to="3"></button>
                <button type="button" data-bs-target="#demo" data-bs-slide-to="4"></button>
            </div>
            <!-- imagenes -->
            <div class="carousel-inner">
                <div class="carousel-item c-item active">
                    <a href="{% url 'admire' 4 %}">
                        <img src="{% static 'assets/img/ubermann.png' %}" alt="prod1" class="d-block w-100 c-img" >
                    </a>
                    <div class="carousel-caption">
                        <h3>UBERMANN</h3>
                    </div>
                </div>
                <div class="carousel-item c-item">
                    <a href="#">
                        <img src="{% static 'assets/img/bosch.jpg' %}" alt="prod2" class="d-block w-100 c-img">
                    </a>
                    <div class="carousel-caption">
                        <h3>BOSCH</h3>
                    </div>
                </div>
                <div class="carousel-item c-item">
                    <a href="#">
                        <img src="{% static 'assets/img/makita.jpg' %}" alt="prod3" class="d-block w-100 c-img">
                    </a>
                    <div class="carousel-caption">
                        <h3>Makita</h3>
                    </div>
                </div>
                <div class="carousel-item c-item">
                    <a href="#">
                        <img src="{% static 'assets/img/milwaukee.webp' %}" alt="prod4" class="d-block w-100 c-img">
                    </a>
                    <div class="carousel-caption">
                        <h3>Milwaukee</h3>
                    </div>
                </div>
                <div class="carousel-item c-item">
                    <a href="#">
                        <img src="{% static 'assets/img/dewalt.jpg' %}" alt="prod5" class="d-block w-100 c-img">
                    </a>
                    <div class="carousel-caption">
                        <h3>DeWALT</h3>
                    </div>
                </div>
            </div>
            <!-- izquierda y derecha -->
            <!-- left -->  
            <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </button>
            <!-- right  -->  
            <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
                <span class="carousel-control-next-icon"></span>
            </button>
        </div>
    </div>
</div>
<hr>
<div class="quote-container">
    <div id="quote" class="quote"></div><br>
    <div id="author" class="quote-author"></div>
</div>
<hr>
<script>    
    console.log("el script ha cargado");
    const btn = document.getElementById('enviarCorreoBtn');
    console.log("Botón:", btn);
    if (btn) {
        btn.onclick = function() {
            console.log("Click en botón");
            fetch(window.API_CORREO_URL, {
                method: "POST",
                headers: {
                    "X-CSRFToken": window.CSRF_TOKEN,
                    "Content-Type": "application/x-www-form-urlencoded"
                },
                body: "subject=Correo+de+prueba&message=Este+es+un+correo+de+prueba"
            })
            .then(response => response.json())
            .then(data => {
                document.getElementById('correoStatus').innerText = data.msg;
            })
            .catch(error => {
                console.log("Error en fetch:", error);
                document.getElementById('correoStatus').innerText = "Error al enviar el correo";
            })
            .finally(() => {
                console.log("Fetch finalizado");
            });
        }
    }
</script>
<script type="module" src="{% static 'js/aplik.js' %}"></script>
<script src="{% static 'js/reloj.js' %}"></script>
{% endblock %}