{% extends "base.html" %}
{% load static %}
{% block content %}
    <div class="divDelMain">
        <span class="visortexto">
            <h1>¿Quiénes somos?</h1>
        </span>
    </div>
    <div class="divDelParr">
        <h1>
            <span class="ptext">
                <p> 
                    ¡Bienvenidos a FERREMAS, tu distribuidora de confianza en productos de ferretería y construcción!
                    <br><br>
                    Con más de cuatro décadas de experiencia, FERREMAS ha sido parte fundamental del crecimiento del sector construcción en Chile desde los años 80. Nuestra empresa nació en la comuna de Santiago y hoy contamos con siete sucursales distribuidas entre la Región Metropolitana y distintas regiones del país, con ambiciosos planes de expansión para llegar a todos los rincones de Chile.
                    <br><br>
                    En FERREMAS, ofrecemos una amplia variedad de herramientas, materiales y accesorios esenciales para proyectos de construcción, remodelación y mantenimiento. Trabajamos con marcas reconocidas como Ubermann, Bosch, Makita, Milwaukee, DeWALT, Stanley y Sika, lo que nos permite asegurar calidad, durabilidad y confianza en cada producto.
                    <br><br>
                    Nuestra estructura organizativa está diseñada para brindar una atención eficiente y profesional. Contamos con equipos especializados en ventas, logística, contabilidad e inventario, todos comprometidos con satisfacer las necesidades de nuestros clientes, sean grandes empresas constructoras, pequeñas ferreterías o clientes particulares.
                    <br><br>
                    Gracias a nuestro compromiso con la excelencia, hemos logrado consolidarnos como una distribuidora líder en el rubro, y hoy damos un nuevo paso: muy pronto lanzaremos nuestra página web oficial. A través de ella, podrás conocer todo nuestro catálogo de productos, hacer pedidos en línea y recibir asesoría especializada desde la comodidad de tu hogar o lugar de trabajo.
                    <br><br>
                    Únete a FERREMAS en este camino de crecimiento y confianza. ¡Estamos aquí para ayudarte a construir el futuro, un proyecto a la vez!
                </p>
            </span>
        </h1>
    </div>
{% endblock %}