{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}
{% block content %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.js"></script>
    <script>
        $(function(){
            $("#formulario").validate({
                //validate tiene 2 bloques, reglas y mensajes
                rules:{
                    nombre:'required',
                    descripcion:'required',
                    marca:'required',
                    anio:'required',
                    stock:'required',
                    categoria:'required',
                    imagen:'required',
                    precio:'required',
                    estado:'required',
                    ubicacion:'required'
                },
                messages:{
                    nombre:{
                        required:'Ingrese nombre'
                    },
                    descripcion:{
                        required:'Ingrese descripción'
                    },
                    marca:{
                        required:'Ingrese marca'
                    },
                    anio:{
                        required:'Ingrese año'
                    },
                    stock:{
                        required:'Ingrese Stock'
                    },
                    categoria:{
                        required:'Seleccione categoria'
                    },
                    imagen:{
                        required:'Seleccione imagen'
                    },
                    precio:{
                        required:'Ingrese precio'
                    },
                    estado:{
                        required:'Ingrese estado'
                    },
                    ubicacion:{
                        required:'Ingrese ubicacion'
                    }
                }
            })
        })
    </script>
    <!--FORMULARIO--> 
    <div class="container">
        <div class="admire-container" style="padding:10vh;">
            <div class="form-title">
                <h2>Crear Producto</h2>
            </div>
            <span class="liner"></span>
            <form action="#" method="POST" enctype="multipart/form-data" id="formulario">
                {% csrf_token %}
    
                <div class="form-group">
                    {{ productform.nombre.label}}
                    {{ productform.nombre }}
    
                </div>
    
                <div class="form-group">
                    {{ productform.descripcion.label}}
                    {{ productform.descripcion }}
                </div>

                <div class="form-group">
                    {{ productform.marca.label}}
                    {{ productform.marca }}
                </div>

                <div class="form-group">
                    {{ productform.anio.label}}
                    {{ productform.anio }}
                </div>

                <div class="form-group">
                    {{ productform.stock.label}}
                    {{ productform.stock }}
                </div>
                <div class="form-group">
                    {{ productform.categoria.label}}
                    {{ productform.categoria }}
                </div>
                <div class="form-group">
                    {{ productform.imagen.label}}
                    {{ productform.imagen }}
                </div>
                <div class="form-group">
                    {{ productform.precio.label}}
                    {{ productform.precio }}
                </div>
                <div class="form-group">
                    {{ productform.estado.label}}
                    {{ productform.estado }}
                </div>
                <div class="form-group">
                    {{ productform.ubicacion.label}}
                    {{ productform.ubicacion }}
                </div>
                <div class="form-submit-btn">
                    <input type="submit" value="Agregar producto" class="btn btn-outline-info">
                </div>
            </form>
        </div>
    </div>
{% endblock %}