{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container">
    <hr>
    <div class="admire-container">
        <div class="form-title">
            <h2>Modificar Perfil</h2>
        </div>
        <span class="liner"></span>
        {% if user.is_authenticated %}
            <form action="#" method="POST" enctype="multipart/form-data" id="fill">
                {% csrf_token %}
                    <div class="flexbox">
                        <div class="form-group">
                            {% if user.pic.url %}
                                <img class="pic-user" src="{{ user.pic.url }}">
                            {% else %}
                                <h5 style="color:lightgreen">Perfil sin imagen</h5>
                            {% endif %}
                            <div class="form-group d-flex justify-content-center ">
                                <span title="Cambiar nombre de usuario no está permitido">
                                    {{ user.username }}
                                </span>
                            </div>
                        </div>
                        <div class="flexbox-c">
                            <div class="form-group">
                                {{ form.first_name.label }}
                                {{ form.first_name }}
                            </div>
                            <div class="form-group">
                                {{ form.last_name.label }}
                                {{ form.last_name }}
                            </div>
                            <div class="form-group">
                                {{ form.email.label }}
                                {{ form.email }}
                            </div>
                            <div class="form-group">
                                {{ form.bio.label }}
                                {{ form.bio }}
                            </div>
                            <div class="form-group">
                                {{ form.pic.label }}
                                {{ form.pic }}
                            </div>
                        </div>
                    </div>
                <div class="form-submit-btn">
                    <input type="submit" value="Confirmar" class="btn btn-outline-info">
                </div>
                <div class="form-submit-btn">
                    <a href="{% url 'change' %}" class="btn btn-outline-info" style="font-size: 2vh;">Cambiar contraseña</a>
                </div>
            </form>
        {% else %}
            <div class="form-group">
                <span>
                    Esta página está disponible solo para usuarios registrados.
                </span>
            </div>
        {% endif %}
    </div>
</div>
{% endblock %}