
body{
    background-image: url("../assets/img/fondo.png");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    font-family: 'Ubuntu', "times new roman", times, roman, serif;
}
footer{
    position: relative;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    border: 1px solid #5555553d;
    background: rgba(0, 0, 0, 0.5);
    margin-top: 50px;
    padding:4vh;
    padding-bottom: 15vh;
}
.divMessage{
    display: flex;
    justify-content: center;
    align-items: center;
    z-index:-1;
}
.alert {
    border: 1px solid #00fff2a8;
    border-radius: 30px;
    color: inherit;
}
/*_________________________________________________*/
/*______________________NAV________________________*/
.flexbox{
    display:flex;
    justify-content: space-between;
    padding: 3vh;
    i2{
        flex-grow: 0.5;
    }
}
.flexbox-c{
    display:flex;
    flex-direction: column;
    padding: 5vh;
    flex-grow: 1;
}
.flexbox-m{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content:space-around;
}
/*_________________________________________________*/
/*_________________________________________________*/

.fade-in{
    animation: fadeIn 1s;
    -webkit-animation: fadeIn 1s;
    -moz-animation: fadeIn 1s;
    -o-animation: fadeIn 1s;
    -ms-animation: fadeIn 1s;
}
@font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    src: local('Ubuntu'), url(http://example.com/fonts/ubuntu.woff) format('woff');
}
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
  
@-moz-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
  
@-webkit-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
  
@-o-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
  
@-ms-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
/*_________________________________________________*/
/*_________________________________________________*/
.title1{
    border-radius: 30px;
    border: 2px solid #09e6b9;
    width: 40vw;
    margin: 0 auto;
    display: table;
    margin-top: 20px;
    margin-bottom: 15px;
    background: rgba(0,0,0,0.5);
    .tx1{
        display:table;
        margin: 0 auto;
        text-align: center;
        color: aquamarine;
        font-size: 3vw;
        font-style: italic;
    }
}
.title2{
    border-radius: 30px;
    border: 2px solid #09e6b9;
    width: 40vw;
    display: table;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 25px;
    background: rgba(0,0,0,0.5);
    .tx2{
        display:table;
        margin: 0 auto;
        text-align: center;
        color: rgb(4, 176, 119);
        font-size: 1vw;
        font-style: italic;
    }
}
/*_________________________________________________*/
/*_________________________________________________*/
.divDelMain{
    display: flex;
    justify-content: center;
    margin-top: 3vh;
    margin-bottom: 5vh;
}
.visortexto{
    font-size: 5vh;
    color:rgb(255, 255, 255);
    background-color: rgba(0,0,0,0.5);
    border-radius: 50px;
    border: 1px solid rgb(81, 81, 81);
    padding: 2vh !important;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: 2px;
}
.divDelParr{
    /* offset-x | offset-y | blur-radius | color */
    text-shadow: 1px 1px 3px rgb(5, 5, 5);
    background-color: rgba(0,0,0,0.5);
    border-radius: 40px;
    justify-content: space-between;
    width: 60%;
    margin: auto;
    padding: 10vh;
    
    .ptext{
        color: rgb(214, 214, 214);
        width: 35%;
        text-align: center;
        font-family: 'Ubuntu', "times new roman", times, roman, serif;
        letter-spacing: 0px;
        font-size: 50%;       
    }
}
.imgSpanCarrito{
    margin-top: 4vh;
    margin-bottom: 4vh;
}
.imgCarrito{
    width: 45px; 
    height: 45px;
    margin-top: 4vh;
    margin-bottom: 4vh;
}
/*_________________________________________________*/
/*______________________NAV________________________*/
.menu{
    padding:1vh !important;
    background-color: rgba(0, 0, 0, 0.5) !important;
    border-radius: 10px;
    border: 1px solid #5555553d;
}
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(56, 56, 56, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}
#logo{
    border-radius: 10px;
    max-width: 42vh;
    display: table;
    width: 100%;
}
.navbar-toggler{
    max-width: 60px;
}
.naz{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10vh !important;
}
.nav-item a{
    color: white;
    text-decoration:none;
    font-size: 2vh;   
}
.nav-item a:hover {
    color: white !important;
    background-color: rgba(0,0,0,0.3);
    border-radius: 10px;
    border: 1px solid rgb(255, 255, 255);
    font-style: italic;
}
.nav-item a:visited {
    color: rgb(220, 220, 220);
}
a.nav-link.dropdown-toggle.show{
    border-radius: 10px;
    border: 1px solid rgb(255, 255, 255);
    color: #ffffff;
    font-style: italic;
}
.dropdown-menu.show{
    background-color: rgba(0, 0, 0, 0.8);
    border: 1px solid white;
}
.navbar-right{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2vh;
    a{
        color: rgb(111, 177, 190);;
        text-decoration: none;
    }
    img{
        margin: 10px !important;
        width: 25px;
    }
}
.boxes a:hover{
    color: white;
    font-style: italic;
    background-color: rgba(0,0,0,0.3);
    border-radius: 15px;
    border: 1px solid rgb(64, 150, 184);
    padding:1vh;
}

/*_________________________________________________*/
/*____________________CARRUSEL_____________________*/
.slide{
    max-width: 600px;
    margin: 0 auto;
}
.centro{
    display: block;
    margin: 0 auto;
    align-items: center;
    margin-bottom: 6vh;
}
.carousel-inner{
    display: flex;
    border-radius: 15px;
}
.c-item{
    width: 100%; 
}
.c-img{
    height: 100%;
    object-fit: cover;
}
.carousel-caption{
    display: block;
    margin: 0 auto;
    color: blue;
    font-family: 'Times New Roman';
    /* offset-x | offset-y | blur-radius | color */
    text-shadow: 1px 1px 3px rgb(5, 5, 5);
    margin-bottom: 5px;
    width: 50%;
}
.d-block{
    height: 480px;
}
.carousel-control-prev-icon, .carousel-control-next-icon {
    outline: black;
    background-color: rgba(0, 0, 0, 0.3);
    background-size: 100%, 100%;
    border-radius: 50%;
    border: 1px solid black;
}


/*_________________________________________________*/
/*______________________CARDS______________________*/
.thumbs-container-desktop {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.thumb-container-wallpaper-desktop {
    position: relative;
}
img.thumb {
    border-radius: 10px 10px 0px 0px;
}

.card{
    border-radius: 30px !important;
    background-color: rgba(0, 0, 0, 0.5) !important;
    -webkit-backdrop-filter: blur(100px) !important;
    backdrop-filter: blur(12px) !important;
    margin-bottom: 20px !important;
    /*__________________________________________*/
    p{font-style: italic;}
}
.card-img-top{
    width:100%;
    height:auto;
    border-top-left-radius: 30px !important;
    border-top-right-radius: 30px !important;
}
.card-body{
    display: flex;
    flex-direction: column;
    justify-content: center !important;
}
.card-text {
    color: rgb(147, 209, 220);
}
.card-text2 {
    color: white;
}
.price{
    color: #ffffff !important;
    font-style: italic;
}
.stock{
    color: #ffffff;
}


/*_________________________________________________*/
/*___________________FORMULARIO____________________*/

.login-container {
    padding: 4vw;
    border-radius: 45px;
    border: 1px solid #555;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: rgba(0, 0, 0, 0.6);
}
.login-container2 {
    border-radius: 45px;
    padding: 4vh;
    border: 1px solid #555;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: rgba(0, 0, 0, 0.6);
    margin-left: 8rem;
    margin-right: 8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.login-container3 {
    padding: 4vh;
    border-radius: 15px;
    border: 1px solid #555;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: rgba(0, 0, 0, 0.6);
    margin-left: 8rem;
    margin-right: 8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.form85 {
    width: 85%;
}
.form60 {
    width: 60%;
}

.form-title{
    text-align: center;
    font-style: italic;
    color: rgb(255, 255, 255);
    /* offset-x | offset-y | blur-radius | color */
    text-shadow: 1px 1px 3px rgb(5, 5, 5);
    font-family: 'Courier New', Courier, monospace;
}
.form-group{
    margin-top: 20px;
    color: rgb(255, 255, 255);
    .form-label{
        font-style: italic;
        color: rgb(255, 255, 255);
    }
    .form-control{
        font-style: italic;
        color: rgb(255, 255, 255);
        border-radius: 5px;
        border: 1px solid #999999;
        background: rgba(0,0,0,0.3);
    }
    input{
        background-color: rgba(0, 0, 0, 0.1);
        color:white;
    }
    input:focus{
        background-color: rgba(0, 0, 0, 0.3)!important;
        color:#63e3f4 !important;
        border: 1px solid rgb(59, 172, 214);
    }
}
textarea:focus {
    background: rgba(0, 0, 0, 0.3) !important;
    color:#63e3f4 !important;
    border: 1px solid rgb(59, 172, 214);
}
select:focus{
    color: white;
    background-color: rgba(255, 255, 255, 0.37)!important;
}
.input-group {
    margin-bottom: 20px;
}
.input-group label {
    margin-bottom: 5px;
    color: rgb(211, 211, 211);
}
.input-group input {
    width: 100%;
    color: white;
    border-radius: 5px;
    background: rgba(0,0,0,0.3);
}

/*_________________________________________________*/
/*_________________________________________________*/
/*_____________________BUTTONS_____________________*/
/*_________________________________________________*/
.form-submit-btn{
    margin-top: 6vh;
    margin-bottom: 3vh;
    text-align: center;
}
.form-submit-btn input {
    font-style: italic;
    font-size: 2.4vh;
}
.btn-outline-info, .btn-outline-warning, .btn-outline-danger{
    font-size: 2vh;
    font-style: italic;
}
.btn-center{
    display:flex;
    justify-content: center;
    margin-top: 3vh;
    margin-bottom: 1vh;
}
.boton-submit{
    border-radius: 5px;
    width: 25%;
    display: table;
    margin: 0 auto;
    margin-bottom: 10px;
}
.buttonLI{
    border-radius: 15px;
}
.buttonLI:hover{
    background-color: rgb(21, 80, 21);
}
button {
    width: 100%;
    padding: 10px;
    color: #fff;
    background-color: rgb(7, 68, 7);
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
button:hover {
    background-color: rgba(0, 0, 0, 0.3);
    color: rgb(18, 192, 178);
}


/*_________________________________________________*/
/*___________________FOOTER___________________*/
.footerChico{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0,0.3);
    margin-top: 20px;
    margin-left: 20px;
    padding: 10px;
    border-radius: 15px;
    border: 1px solid #5555557e;
    a{
        color: rgb(255, 255, 255);
        text-decoration: none;
    }
} 
.footerChico:hover{
    color: aquamarine;
    background-color: rgba(0,0,0,0.5);
    text-decoration: none;
    font-style: italic;
    border: 1px solid rgb(64, 150, 184);
}
.navr{
    color:rgb(255, 255, 255);
    text-align: center;
    transition: background-color 0.3s ease;
}
.footer-text {
    font-size: 1vw;
}
/*_________________________________________________*/
/*___________________Check_________________________*/
.form-check{
    margin-top: 25px;
    color: rgb(144,238,144);
}
.form-check input{
    background-color: rgba(0, 0, 0, 0.1);   
    height: 1wh;
}
.form-check-label{   
    color: rgb(144,238,144);
    font-size: 2vh;
    margin-top: 20px;
    margin-bottom: 20px;
}
/*_________________________________________________*/
/*___________________Table_________________________*/

.liner{
    background-color: rgba(255, 255, 255, 0.384);
    width: 80%;
    height: 1px;
    border-radius: 1px;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.mostrarObras{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 70%;
}
select{
    color:rgb(28, 194, 189);
    background-color: rgba(0, 0, 0, 0.1);
    padding: 3px;
    width: 50%;
    border-radius: 15px;
    option {
        margin: 40px;
        color: rgb(101, 193, 212);
        background-color: rgb(0,0,0,0.8);
    }
}
@media (max-width:650px){
    th {
        display: none;
    }
    td {
        display: grid;
        gap: 0.5rem;
        grid-template-columns: 15ch auto;
        padding: 0.5rem 1rem;
    }
    td:first-child{
        padding-top: 2rem;
    }
    td:last-child{
        padding-bottom: 2rem;
    }
    td:after {
        font-weight: 700;
        text-transform: capitalize;
    }
    td:nth-of-type(1)::before{
        content: "name";
    }

}
.table-container {
    width: 100%;
    overflow-x: scroll;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    border:1px solid #555;
    padding:1rem;
}
.img-table {
    height: 7rem; 
    border-radius: 50%;
    border:0;
}
.td-a-profile {
    text-decoration: none;
    color: rgb(200, 255, 255);
}
.td-a-profile2 {
    text-decoration: none;
    color: rgb(200, 255, 255);
}
.td-a-profile2:hover{
    color:#37e3f0;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
    box-shadow: 0px 0px 40px #2c9ba3;
    
}
.wrapper {
    width: min(900px, 100% - 3rem);
    margin-inline: auto;
}
table {
    border-collapse: collapse;
    width: 100%;
    background-color: rgba(0, 0, 0, 0);
}
th {
    text-align: left !important;
    display: relative;
    font-size: 3vh;
    font-style: italic;
}
td {
    display: relative;
    white-space: wrap;
    text-overflow: ellipsis;
    padding: 1rem;
    text-align: center;
}
td img{
    border-radius:15px; 
    border:1px solid rgb(148, 217, 227);
    max-width: 100%;
    height: auto;
}
/*_________________________________________________*/
/*____________________ADMIRE________________________*/
.admire-container {
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 4vh;
    border-radius: 40px;
    border: 1px solid #555;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: rgba(0, 0, 0, 0.6);
}
.admire-container2 {
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10vh;
    border-radius: 40px;
    border: 1px solid #555;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: rgba(0, 0, 0, 0.6);
}
.admirePerfil{
    font-family: 'Ubuntu', light;
    border:1px solid #5555557e;
    border-radius: 15px;
    margin-bottom: 4vh;
    display: flex;
    flex-direction: row;
    padding: 3vw;
    img{
        max-width: 20vw;
        border-radius: 50%;
        border:1 px solid rgb(37, 208, 255);
        margin-bottom: 2vh;
    }
}
.admirePerfil2{
    font-family: 'Ubuntu', light;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 3rem;
    display: flex;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 4rem;
    padding-right: 4rem;
}
.admirePrl {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding-left: 2vw;
}
.admirePrl2 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 5vw;
}
.admirePrl3 {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding-left: 5vw;
}
.admirePrl4 {
    display: flex;
    flex-direction: column;
    align-items: start;
}
.profile-buttons {
    display:flex;
    justify-content: space-around;
}
.admirePart{
    background-color: rgba(0, 0, 0, 0.2);
    display:flex;
    flex-direction: column;
    margin-top:2vh;
    border-radius: 30px;
    border: 1px solid #555;
}
.admirePartEliminar{
    background-color: rgba(0, 0, 0, 0.5);
    display:flex;
    margin-top:2vh;
    border-radius: 10px;
    border: 1px solid #555;
    
    div {
        margin-left: 4rem;
        color:rgb(255, 255, 255)
    }
}
.admireDiv1{
    font-family: 'Ubuntu', light;
    display: flex;
    justify-content: space-around;
    padding: 2vw;
    margin: 1vh;
    img{
        height: 10rem;
        width: 100%!important;
        border-radius: 15px;
        border: 1px solid rgb(200, 248, 255);
        margin-bottom: 2vh;
    }
}
.admireDiv2{
    font-family: 'Ubuntu', light;
    display: flex;
    justify-content: space-between;
    padding: 2vw;
    margin: 1vh;
}
.admireDiv3{
    font-family: 'Ubuntu', light;
    display: flex;
    justify-content: space-around;
    padding: 2vw;
    margin: 1vh;
}
.admireDiv4{
    font-family: 'Ubuntu', light;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 2vw;
    margin: 1vh;
}

.pic-user{
    width: 10vw;
    border-radius: 50%;
    border:1 px solid rgb(14, 206, 235);
    margin-bottom: 2vh;
}
.pic-user:hover{
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
    box-shadow: 0px 0px 30px #73dff9;
}
.pic-profile {
    transition: box-shadow 0.3s;
    transition: transform .7s;
}
.pic-profile:hover{
    transition:box-shadow .5s;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    box-shadow: 0px 0px 50px #2c9ba3;
    transform: scale(1.15);
}
@keyframes grow {
    0% {transform: scale(1);}
    100% {transform: scale(1.15);}
}

img:hover{
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
    box-shadow: 0px 0px 40px #2c9ba3;
}

.admireIn{
    display: flexbox;
    flex-direction: column;
    flex-wrap:wrap;
}
.pattribute{
    color:#ffffff;
    font-size: 2.7vh;
}
.pvalue {
    color: rgb(200, 255, 255);
    font-size: 2.2vh;
    font-style: italic;
    margin-left: 2vw;
    price{
        color: #cff7ff;
    }
}
.pvalue2 {
    color: rgb(152, 254, 254);
    font-size: 2.2vh;
    font-style: italic;
    margin-left: 2vw;
}
.pa {
    color: rgb(200, 255, 255);
    font-style: italic;
    text-decoration: none;
    font-size: 2vh;

    &:hover {
        color: aqua;
    }
}
.pusername {
    color:#ffffff;
    font-size: 3.4vh;
    font-style: italic;
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}
.aliner{
    background-color: rgba(0, 217, 255, 0.384);
    width: 80%;
    height: 1px;
    border-radius: 1px;
    display: block;
    margin: 0 auto;
    margin-bottom: 2vh;
}

/*_________________________________________________*/
/*_______________________CARRO_____________________*/
.carro-container {
    padding: 1vw;
    border-radius: 45px;
    border: 1px solid #555;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: rgba(0, 0, 0, 0.4);
}
.table-carro{
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 30px;
    border:1px solid #555;
    padding:1rem;
    
}
.tobras th{
    font-size: 2vh;
    font-style: italic;
    text-align: left;
}
thead th{
    color: #d7d7d7;
    font-family: 'Courier New', Courier, monospace;
    font-size: 2.7vh;
    font-style: italic;
    text-align: left;
}
tbody td{
    color:rgb(255, 255, 255) !important;
    font-style: italic;
}
.carro-title a{
    display: flex;
    justify-content: center;
    font-size: 3vh;
    text-align: center;
    color: rgb(255, 255, 255);
    /* offset-x | offset-y | blur-radius | color */
    text-shadow: 1px 1px 3px rgb(5, 5, 5);
    text-decoration: none;
}
.carro-title a:hover{
    color: #d8d8d8;
    font-style: italic;
}
.totalapagar {
    display: flex;
    justify-content: center;
    font-style: italic; 
    color:#8de8ff;
    padding:10px;
}
.detallecarrito{
    background-color: rgba(0, 0, 0, 0.5);
    display:flex;
    justify-content: space-around;
    margin-top:2vh;
    border-radius: 10px;
    border: 1px solid #555;
    color:rgb(255, 255, 255);
    padding: 30px;
}

.quote-container {
    display: block;
    margin: 0 auto;
    max-width: 60%;
    padding: 2vw;
    border-radius: 15px;
    border: 1px solid #5555552a;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: rgba(0, 0, 0, 0.3);
    font-style: italic;
    font-family: 'Ubuntu';
}
.quote-author {
    font-family: 'Times New Roman', Times, serif;
    color: rgb(232, 232, 232);
    text-shadow: 1px 1px 3px rgb(5, 5, 5);
}
.quote {
    color: rgb(239, 239, 239);
    text-shadow: 1px 1px 3px rgb(5, 5, 5);
}

.error-container {
    border:1px solid #5555557e;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 3vw;
    margin: 2vh;

    .et{
        color: rgb(43, 159, 174);
        text-align: center;
        font-family: 'Ubuntu', "times new roman", times, roman, serif;
        font-style: none;
        letter-spacing: 0px; 
    }
    
}